.DS_Store
.vscode/**
!.vscode/extensions.json
!.vscode/settings.json
target/**
settings.yaml
todo.md
nes-bundler-log.txt
config/windows/wix/main.wxs
config/linux/bundle.desktop
config/macos/Info.plist
config/config.zip