[package]
name = "nes-bundler"
version = "0.1.3"
authors = ["Ted Steen <ted.steen@gmail.com>"]
edition = "2021"
publish = false

[features]
default = []
#default = ["netplay", "debug", "zip-bundle"]

netplay = ["matchbox_socket", "tokio", "ggrs", "futures-timer", "futures", "uuid", "reqwest", "md5"]
zip-bundle = ["rfd", "zip"]
debug = ["egui_plot"]

[profile.release]
strip = true

[dependencies]
log = "0.4"
env_logger = "0.11"
anyhow = "1.0"
serde = { version = "1", features = ["derive"] }
serde_yaml = "0.9"
bitflags = "2"

egui = { version = "0.26", default-features = false, features = [
  "bytemuck", "default_fonts"
] }
egui_plot = { version = "0.26", optional = true }
egui_glow = { version = "0.26", features = ["winit", "links"] }
glow = "0.13"
winit = "0.29"
glutin-winit = "0.4"
glutin="0.31"
raw-window-handle = "0.5"

sdl2 = { version="0.36", features = ["bundled", "static-link"] }

rusticnes-core = { git = "https://github.com/tedsteen/rusticnes-core-for-nes-bundler" }
base64 = "0.21"

# zip-bundle deps
rfd = { version = "0.13", optional = true }
zip = { version = "0.6", default-features = false, features = ["deflate"], optional = true }

# Netplay deps
matchbox_socket = { version="0.8", features = ["ggrs"], optional = true }
futures-timer = { version = "3", features = ["wasm-bindgen"], optional = true }
ggrs = { version = "0.10", optional = true }
tokio = { version = "1", features = ["rt"], optional = true }
futures = {version = "0.3", optional = true }
uuid = { version = "1", features = [ "v4" ], optional = true }
reqwest = { version = "0.11", features = ["json"], optional = true }
md5 = { version = "0.7", optional = true }

cxx = "1"

[build-dependencies]
cxx-build = "1"