[package]
name = "nes-bundler"
version = "0.1.3"
authors = ["Ted Steen <ted.steen@gmail.com>"]
edition = "2021"
publish = false
resolver="2"

[features]
default = []
netplay = ["matchbox_socket", "tokio", "ggrs", "futures-timer", "futures", "uuid", "reqwest"]
static-bundle = []
debug = []

[profile.release]
strip = true

[dependencies]
anyhow = "1.0"
serde = { version = "1", features = ["derive"] }
serde_yaml = "0.9"
gilrs = { version = "0.9", features = ["serde-serialize"] }

winit = {version = "0.27", features = ["serde"] }
pixels = "0.11"
egui = "0.20"
egui-winit = "0.20"
egui-wgpu = "0.20"

sdl2 = { version = "0.35", features = ["bundled"] }

game-loop = { version = "0.10", features = ["winit"] }
rusticnes-core = { git = "https://github.com/tedsteen/rusticnes-core-for-nes-bundler" }
base64 = "0.20"
zip = { version = "0.6", default-features = false, features = ["deflate"] }

# Netplay deps
matchbox_socket = { git = "https://github.com/johanhelsing/matchbox", features = ["ggrs-socket"], optional = true }
futures-timer = { version = "3", features = ["wasm-bindgen"], optional = true }
ggrs = { version = "0.9", optional = true }
tokio = { version = "1", features = ["rt"], optional = true }
futures = {version = "0.3", optional = true }
uuid = { version = "1", features = [ "v4" ], optional = true }
reqwest = { version = "0.11", features = ["json"], optional = true }